-- Dense rank

-- Dense Rank, like row_number() over partition by orders rows by key based on a ordering column
-- Dense rank gives a numeric value to each key


USE [WorldEconomicData]
GO

SELECT 
    [country],
    [population],
    DENSE_RANK() OVER (PARTITION BY [country] ORDER BY [population] DESC) AS Place
FROM [dbo].[world_economic_data];

------------------------------------------

/**
-- Round to Int

Declare @temp   DECIMAL(20,4)
SET @TEMP = 0.2

	DECLARE @InputValue  DECIMAL(20,4);

	SET @InputValue = ISNULL(@Temp,0)
	
	SELECT  cast(ROUND(@InputValue,0) as int) 

--------------------------------------------------------
-- function to remove non-numeric characters




CREATE Function [dbo].[fnRemoveNonNumericCharacters](@Temp VarChar(1000))
Returns VarChar(1000)
AS
Begin

	While PatIndex('%[^0-9]%', @Temp) > 0
		Set @Temp = Stuff(@Temp, PatIndex('%[^0-9]%', @Temp), 1, '')

	Return @TEmp
End

-----------------------------------------------------------------------
**/